<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Dealership Review</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link
      href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
  </head>
  <body>
    {% extends 'navbar.html' %} {% block content %}
    <div class="card text-center">
      <div class="card-header">About us</div>
      <div class="card-body">
        <h1>
          Welcome to Best Cars dealership, home to the best cars in North
          America. We sell domestic and imported cars at reasonable prices.
        </h1>
      </div>
      <div class="card-footer text-muted">Dealership Review</div>
    </div>

    <!-- Footer -->
    <footer class="pl-5 page-footer font-small blue pt-4 bg-dark">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <h5 class="text-warning">Dealership Review</h5>
            <p class="text-light">One stop dealership reviews</p>
          </div>
          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3" />
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-light">About us</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'djangoapp:about' %}" class="text-warning"
                  >About us</a
                >
              </li>
            </ul>
          </div>
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-light">Contact</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'djangoapp:contact' %}" class="text-warning"
                  >Contact us</a
                >
              </li>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 text-light">
        © 2020 Copyright:
        <a href="{% url 'djangoapp:index' %}" class="text-warning"
          >Dealership Review</a
        >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    {% endblock %}
  </body>
</html>
