<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    {% extends 'navbar.html' %} {% block content %}
    <!-- Login form -->
    <form action="{% url 'djangoapp:login' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <h1>Login</h1>
        <div class="form-group">
          <label for="username"><b>User Name</b></label>
          <input
            id="username"
            class="form-control"
            type="text"
            placeholder="Enter User Name: "
            name="username"
            required
          />
          <label for="password"><b>Password</b></label>
          <input
            id="password"
            class="form-control"
            type="password"
            placeholder="Enter Password: "
            name="password"
            required
          />
        </div>
        <button class="btn btn-warning" type="submit">Login</button>
      </div>
    </form>

    <!-- Footer -->
    <footer class="pl-5 page-footer font-small blue pt-4 bg-dark">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <h5 class="text-warning">Dealership Review</h5>
            <p class="text-light">One stop dealership reviews</p>
          </div>
          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3" />
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-light">About us</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'djangoapp:about' %}" class="text-warning"
                  >About us</a
                >
              </li>
            </ul>
          </div>
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-light">Contact</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'djangoapp:contact' %}" class="text-warning"
                  >Contact us</a
                >
              </li>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 text-light">
        © 2020 Copyright:
        <a href="{% url 'djangoapp:index' %}" class="text-warning"
          >Dealership Review</a
        >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    {% endblock %}
  </body>
</html>
